# Environment
.env
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs
logs/*.log

# Ignore all data files completely
data/**/*

# Sistema
.DS_Store
Thumbs.db

# Do not ignore .gitkeep files so folder structure is preserved
!data/**/.gitkeep
